<div class="container">
  <header class="jumbotron">
    <h1 class="display-3">Сервіс для абітурієнтів ВТК</h1>
    <p class="lead">Тут ви можете додавати та переглядати вступників до Вінницького Технічного Коледжу</p>
  </header>
  <div class="container px-4 py-5" id="featured-3">
    <div class="pb-2 border-bottom"></div>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
        </div>
        <h2>Додати абітурієнта</h2>
        <p>Перевірте наявність всіх необхідних документів.</p>
        <button class="btn btn-primary" (click)="goToPage('add')">
          Перейти до форми
        </button>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
        </div>
        <h2>Список абітурієнтів</h2>
        <p>Для швидкого пошуку використовуйте фільтри.</p>
        <button routerLink="/view" class="btn btn-primary">
          Перейти до списку
        </button>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
        </div>
        <h2>Статистика</h2>
        <p>Вичерпна інформація про кількість абітурієнтів.</p>
        <button routerLink="/statistic" class="btn btn-primary">
          Перейти до статистики
        </button>
      </div>
    </div>
  </div>
</div>
