<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ng-select id="selectPrivilege"
                 [multiple]="true"
                 name="privilegeId"
                 [items]="privileges"
                 bindLabel="privilege_name"
                 bindValue="privilege_id"
                 [(ngModel)]="privilegeId"
                 placeholder="Пільга"
                 (change)="setFilter()"></ng-select>
    </div>
    <div class="col-md-3">
      <ng-select id="selectSpecialty"
                 [multiple]="true"
                 [items]="specialties"
                 name="specialtyId"
                 bindLabel="specialty_name"
                 bindValue="specialty_id"
                 [(ngModel)]="specialtyId"
                 placeholder="Спеціальність"
                 (change)="setFilter()"></ng-select>
    </div>
    <div class="col-md-3">
      <ng-select id="isHostel"
                 name="isHostel"
                 [items]="hostelOptions"
                 bindLabel="name"
                 bindValue="isHostel"
                 [(ngModel)]="isHostel"
                 placeholder="Гуртожиток"
                 (change)="setFilter()"></ng-select>
    </div>
    <div class="col-md-3">
      <ng-select id="value" name="value"
                 [multiple]="true"
                 [items]="years"
                 [(ngModel)]="year"
                 bindLabel="value"
                 bindValue="value"
                 placeholder="Рік подачі"
                 (change)="setFilter()"></ng-select>
    </div>
  </div>
</div>

<div class="chart">
  <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType">
  </canvas>
</div>
