<div class="container">
  <div class="row center-filter">
    <span class="filter" (click)="toggleFilters()"
          [ngClass]="{'filter-touched' : isFilters,'filter-untouched': !isFilters}"></span>
    <span>
      Натисніть, щоб
      <b *ngIf="!isFilters">відкрити</b>
      <b *ngIf="isFilters">закрити</b>
       фільтри
    </span>
  </div>

  <div class="row colored-border" *ngIf="isFilters">
    <div class="col-md-2">
      <ng-select id="selectPrivilege"
                 name="privilegeId"
                 [items]="privileges"
                 bindLabel="privilege_name"
                 bindValue="privilege_id"
                 [(ngModel)]="privilegeId"
                 placeholder="Пільга" (change)="setFilter()"></ng-select>
    </div>
    <div class="col-md-2">
    <ng-select id="selectSpecialty"
               [items]="specialties"
               name="specialtyId"
               bindLabel="specialty_name"
               bindValue="specialty_id"
               [(ngModel)]="specialtyId"
               placeholder="Спеціальність" (change)="setFilter()"></ng-select>
    </div>
    <div class="col-md-2">
      <ng-select id="isHostel"
                 name="isHostel"
                 [items]="hostelOptions"
                 bindLabel="name"
                 bindValue="isHostel"
                 [(ngModel)]="isHostel"
                 placeholder="Гуртожиток"
                 (change)="setFilter()"></ng-select>
    </div>
    <div class="col-md-2">
      <ng-select id="value" name="value"
                 [items]="years"
                 [(ngModel)]="year"
                 bindLabel="value"
                 bindValue="value"
                 placeholder="Рік подачі"
                 (change)="setFilter()"></ng-select>
    </div>
    <div class="col-md-2">
      <input type="text" class="form-control" id="inputName"
             placeholder="Ім'я" name="name" [(ngModel)]="name" (keyup)="setFilter()">
    </div>
    <div class="col-md-2">
      <input type="text" class="form-control" id="inputSurname"
             name="surname" placeholder="Прізвище" [(ngModel)]="surname" (keyup)="setFilter()">
    </div>
    <!--<div class="col-md-2">
      <input type="text" class="form-control" id="inputPatronym" name="patronym"
             placeholder="По-батькові" [(ngModel)]="patronym" (keyup)="setFilter()">
    </div>-->
  </div>
</div>
<div class="container">
<!--<header class="jumbotron centered">
  <h1 class="display-3">Перегляд списку абітурієнтів</h1>
  <p class="lead">Тут ви можете переглядати список абітурієнтів та сортувати список за різними полями(в розробці). Натиснувши на будь-яке поле, ви перейдете до розширеного перегляду інформації про  абітурієнта(в розробці).</p>
</header>-->
  <table class="table table-bordered table-hover" *ngIf="entrants.length!==0">
    <thead>
      <tr class="centered">
        <th>Прізвище</th>
        <th>Ім'я</th>
        <th>По-батькові</th>
        <th>Дата подачі заяви</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ent of entrants | paginate: {totalItems: count, itemsPerPage : 10, currentPage: page}" class="pointer centered" routerLink="/profile/{{ent.entrant_id}}">
      <td>{{ent.entrant_surname}}</td>
      <td>{{ent.entrant_name}}</td>
      <td>{{ent.entrant_patronym}}</td>
      <td>{{ent.declaration_date| date:'dd-MM-YYYY'}}</td>
    </tr>
    </tbody>
  </table>
  <div class="centered not-found" *ngIf="entrants.length===0">
    <h2>Абітурєнтів не знайдено.</h2>
    <p>Спробуйте змінити фільтри</p>
  </div>
  <pagination-controls *ngIf="entrants.length!==0" (pageChange)="changePage($event)"
                       directionLinks="true"
                       previousLabel="Назад" nextLabel="Вперед">
  </pagination-controls>
  </div>
