<div class="container">
<header class="jumbotron my-4 centered">
  <h1 class="display-3">Перегляд списку абітурієнтів</h1>
  <p class="lead">Тут ви можете переглядати список абітурієнтів та сортувати список за різними полями(в розробці). Натиснувши на будь-яке поле, ви перейдете до розширеного перегляду інформації про  абітурієнта(в розробці).</p>
</header>


<!--<ul class="list-group">
  <li class="list-group-item pointer" *ngFor="let ent of entrants">

  </li>
</ul>-->
  <table class="table table-bordered table-hover">
    <thead>
    <th scope="col">Прізвище</th>
    <th scope="col">Ім'я</th>
    <th scope="col">По-батькові</th>
    <th scope="col">Дата подачі заяви</th>
    </thead>
    <tbody>
    <tr *ngFor="let ent of entrants" class="pointer">
      <th scope="row">{{ent.entrant_surname}}</th>
      <th scope="row"  >{{ent.entrant_name}}</th>
      <th scope="row">{{ent.entrant_patronym}}</th>
      <th scope="row">{{ent.declaration_date| date:'dd-MM-YYYY'}}</th>
    </tr>
    </tbody>

  </table>
</div>
