<div class="centered access-form">
<form class="form-signin">
  <img class="mb-4" src="assets/images/logo.png" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Введіть пароль для доступу до всього функціоналу</h1>
  <label for="password"></label>
  <input type="password" class="form-control" id="password" aria-describedby="passHelp"
         name="password" placeholder="Пароль" [(ngModel)]="password" [disabled]="access">
  <small id="passHelp" class="form-text alert-danger" [hidden]="passwordMatch">
    В доступі відмовлено, спробуйте ще раз.
  </small>
  <span *ngIf="access" class="form-text alert-success">Ви успішно авторизовані</span>
  <div class="mb-3" *ngIf="!access">
    <a (click)="decline()" class="link-inverse">Продовжити без авторизації</a>
  </div>
  <button class="btn btn-lg btn-primary btn-block" (click)="confirm()" *ngIf="!access">Підтвердити</button>
  <button class="btn btn-lg btn-primary btn-block" (click)="decline()" *ngIf="access">Продовжити</button>
  <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
</form>
</div>
