<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{entrant.entrant_surname}} {{entrant.entrant_name}} {{entrant.entrant_patronym}}</h1>
    <p class="lead">Дата подачі заяви: {{entrant.declaration_date | date : 'dd-MM-YYYY'}}</p>
    <p class="lead">Спеціальність: {{entrant.specialty_name}}</p>
    <p class="lead">Пільга: {{entrant.privilege_name === null ? 'немає' : entrant.privilege_name}}</p>
    <p class="lead">Поселення в гуртожиток: {{entrant.is_hostel === 0 ? 'ні' : 'так'}}</p>
    <p class="lead">Номер паспорту: {{entrant.passport_number}}</p>
    <p class="lead">Ідентифікаційний код: {{entrant.identification_code}}</p>
    <p class="lead">Номер свідоцтва про здобуття базової середньої освіти: {{entrant.education_number}}</p>
    <p class="lead" *ngIf="entrant.is_eleven_grade">Закінчив 11 клас: так</p>
    <p class="lead" *ngIf="entrant.is_eleven_grade">Номер сертифікату ЗНО: {{entrant.independent_exams_number}}</p>
    <p class="lead" *ngIf="entrant.is_eleven_grade">Номер військового квитка: {{entrant.military_ticket_number}}</p>
    <p class="lead">
      <button class="btn btn-primary btn-lg" routerLink="/view" role="button">Повернутись до списку</button>
    </p>
  </div>
</div>
