<div class="container">
<header class="jumbotron centered">
  <h1 class="display-3">Додати абітурієнта</h1>
  <p class="lead">Щоб додати абітурієнта заповніть форму нижче.</p>
</header>
</div>
  <form #f='ngForm'>
    <div class="container">
      <h4>Основна інформація про студента</h4>
      <div class="row colored-border">
        <div class="form-group col-md-6">
          <label for="inputName">Ім'я</label>
          <input type="text" class="form-control" id="inputName" aria-describedby="nameHelp"
                 placeholder="Іван" name="name" [(ngModel)]="name">
          <small id="nameHelp" class="form-text alert-danger" [hidden]="match.nameMatch">
            Потрібно ввести від 2 до 50 символів кирилиці, пробіли не допускаються
          </small>
        </div>
        <div class="form-group col-md-6">
          <label for="isHostel">Чи потрібен гуртожиток?</label>
          <ng-select id="isHostel"
                     aria-describedby="hostelHelp"
                      name="isHostel"
                      [items]="hostelOptions"
                      bindLabel="name"
                      bindValue="isHostel"
                      [(ngModel)]="isHostel"
                     placeholder="Оберіть зі списку"></ng-select>
          <small id="hostelHelp" class="form-text alert-danger" [hidden]="match.hostel">
            Потрібно обрати зі списку
          </small>
        </div>
        <div class="form-group col-md-6">
          <label for="inputSurname">Прізвище</label>
          <input type="text" class="form-control" id="inputSurname" aria-describedby="surnameHelp" name="surname" placeholder="Іванов" [(ngModel)]="surname">
          <small id="surnameHelp" class="form-text alert-danger" [hidden]="match.surnameMatch">
            Потрібно ввести від 2 до 50 символів кирилиці, пробіли не допускаються
          </small>
        </div>
        <div class="form-group col-md-6">
          <label for="inputEducation">Номер свідоцтва про здобуття базової середньої освіти </label>
          <input type="text" name="educationNumber" id="inputEducation" aria-describedby="educationHelp" class="form-control" [maxLength]="8" placeholder="12345678" [(ngModel)]="educationNumber">
          <small id="educationHelp" class="form-text alert-danger" [hidden]="match.educationMatch">
            Потрібно ввести 8 цифер
          </small>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPatronym">По-батькові</label>
          <input type="text" class="form-control" id="inputPatronym" name="patronym" aria-describedby="patronymHelp" placeholder="Іванович" [(ngModel)]="patronym">
          <small id="patronymHelp" class="form-text alert-danger" [hidden]="match.patronymMatch">
            Потрібно ввести від 2 до 50 символів кирилиці, пробіли не допускаються
          </small>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassport">Номер паспорту</label>
          <input type="text" name="passportNumber" id="inputPassport" aria-describedby="passportHelp" class="form-control" [maxLength]="9" placeholder="123456789" [(ngModel)]="passportNumber">
          <small id="passportHelp" class="form-text alert-danger" [hidden]="match.passportMatch">
            Потрібно ввести 9 цифер
          </small>
        </div>
        <div class="form-group col-md-6">
          <label for="selectSpecialty">Спеціальність</label>
          <ng-select id="selectSpecialty"
                      aria-describedby="specHelp"
                      [items]="specialties"
                      name="specialtyId"
                      bindLabel="specialty_name"
                      bindValue="specialty_id"
                      [(ngModel)]="specialtyId"
                      placeholder="Оберіть зі списку"></ng-select>
          <small id="specHelp" class="form-text alert-danger" [hidden]="match.spec">
            Потрібно обрати зі списку
          </small>
      </div>
        <div class="form-group col-md-6">
          <label for="selectPrivilege">Пільги</label>
              <ng-select id="selectPrivilege"
                         aria-describedby="privHelp"
                         name="privilegeId"
                         [items]="privileges"
                         bindLabel="privilege_name"
                         bindValue="privilege_id"
                         [(ngModel)]="privilegeId"
                         placeholder="Оберіть зі списку"></ng-select>
          <small id="privHelp" class="form-text alert-danger" [hidden]="match.priv">
            Потрібно обрати зі списку
          </small>
      </div>
        <div class="form-group col-md-6">
          <label for="idCode">Ідентифікаційний код</label>
          <input type="text" name="identificationCode" id="idCode" aria-describedby="idHelp" [maxLength]="10" class="form-control" placeholder="1234567890" [(ngModel)]="identificationCode">
          <small id="idHelp" class="form-text alert-danger" [hidden]="match.idMatch">
            Потрібно ввести 10 цифер
          </small>
        </div>
        </div>
      <h4 class="margin-set">Додаткова інформація про студента</h4>
      <div class="row colored-border">
        <div class="form-check col-md-12 margin-set">
          <input type="checkbox" class="form-check-input" id="IsElevenClass" name="isElevenGrade" [(ngModel)]="isElevenGrade">
          <label class="form-check-label" for="IsElevenClass">Чи закінчував абітурієнт 11 клас?</label>
        </div>
        <div class="form-group col-md-6" *ngIf="isElevenGrade">
          <label for="inputExam">Номер сертифікату ЗНО</label>
          <input type="text" name="independentExamsNumber" aria-describedby="examsHelp" id="inputExam" class="form-control" [maxLength]="7" placeholder="1234567" [(ngModel)]="independentExamsNumber">
          <small id="examsHelp" class="form-text alert-danger" [hidden]="match.examsMatch">
            Потрібно ввести 7 цифер
          </small>
        </div>
        <div class="form-group col-md-6" *ngIf="isElevenGrade">
          <label for="inputMilitary">Номер військового квитка</label>
          <input type="text" name="militaryTicketNumber" id="inputMilitary" aria-describedby="militaryHelp" class="form-control" [maxLength]="10" placeholder="1234567890" [(ngModel)]="militaryTicketNumber">
          <small id="militaryHelp" class="form-text alert-danger" [hidden]="match.militaryMatch">
            Потрібно ввести 10 цифер
          </small>
        </div>
      </div>
      <div class="form-check col-md-12 centered">
        <button class="btn btn-success margin-set" (click)="addEntrant(f)">Додати абітурієнта</button>
      </div>
    </div>
  </form>

