<div class="container">
<header class="jumbotron my-4 centered">
  <h1 class="display-3">Додати абітурієнта</h1>
  <p class="lead">Щоб додати абітурієнта заповніть форму нижче.</p>
</header>
</div>
  <form>
    <div class="container">
      <div class="row">
        <div class="form-group col-md-6">
          <label for="inputName">Ім'я</label>
          <input type="text" class="form-control" id="inputName" placeholder="Іван">
        </div>
        <div class="form-group col-md-6">
          <label for="IsHostel">Чи потрібен гуртожиток?</label>
          <input type="text" name="example" class="form-control" id="IsHostel" list="IsHostelList" placeholder="Оберіть зі списку">
          <datalist id="IsHostelList">
            <option value="Так">
            <option value="Ні">
          </datalist>
        </div>
        <div class="form-group col-md-6">
          <label for="inputSurname">Прізвище</label>
          <input type="text" class="form-control" id="inputSurname" placeholder="Іванов">
        </div>
        <div class="form-group col-md-6">
          <label for="inputEducation">Номер свідоцтва про закінчення 9 класу </label>
          <input type="text" name="example" id="inputEducation" class="form-control" placeholder="12345678">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPatronym">По-батькові</label>
          <input type="text" class="form-control" id="inputPatronym" placeholder="Іванович">
        </div>
        <div class="form-group col-md-6">
          <label for="inputSpecialty">Номер паспорту</label>
          <input type="text" name="example" id="inputPassport" class="form-control" placeholder="123456789">
        </div>
        <div class="form-group col-md-6">
          <label for="inputSpecialty">Спеціальність</label>
          <input type="text" name="example" list="SpecialtyList" id="inputSpecialty" class="form-control" placeholder="Оберіть зі списку">
          <datalist id="SpecialtyList">
            <option *ngFor="let spec of specialties" value="{{spec.specialty_name}}">
          </datalist>
      </div>
        <div class="form-group col-md-6">
          <input type="checkbox" class="form-check-input" (change)="togglePrivilege()" [checked]="isPrivilege">
          <label for="inputSpecialty">Пільги</label>
          <input *ngIf="isPrivilege" type="text" name="example" list="PrivilegesList" id="inputPrivilege" class="form-control" placeholder="Оберіть зі списку">
          <datalist id="PrivilegesList">
            <option *ngFor="let priv of privileges" value="{{priv.privilege_name}}">
          </datalist>
      </div>
        <div class="liner"></div>
        <div class="form-check col-md-12 centered">
          <input type="checkbox" class="form-check-input" id="IsElevenClass" (change)="toggleElevenClass()" [checked]="isElevenClass">
          <label class="form-check-label" for="IsElevenClass">Чи закінчував абітурієнт 11 клас?</label>
        </div>
        <div class="liner"></div>
        <div class="form-group col-md-6" *ngIf="isElevenClass">
          <label for="inputExam">Номер сертифікату ЗНО</label>
          <input type="text" name="example" id="inputExam" class="form-control" placeholder="1234567">
        </div>
        <div class="form-group col-md-6" *ngIf="isElevenClass">
          <label for="inputMilitary">Номер військового квитка</label>
          <input type="text" name="example" id="inputMilitary" class="form-control" placeholder="1234567891">
        </div>
        <div class="liner"></div>
        <div class="form-check col-md-12 centered">
          <button class="btn btn-success">Додати абітурієнта</button>
        </div>
      </div>
    </div>
  </form>

